body{
    margin: 0;
}
.top{
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("Background.jpg");
    background-size: cover;
    opacity: 1.0;
    text-align: center;
    padding: 20px;
    color: white;
}
.top li{
    padding-right: 10px;
    font-size: 20px;
    display: inline;
    list-style-type: none;
}
.about{
    padding: 10px 80px;
    font-size:20px;
}
.special{
    color: #3fabbf;
    text-decoration: underline;
}
.skills{
    background-color: #ea1e63;
    color:white;
    font-size:20px;
    
}
.credits{
    background-color: #444444;
    font-size:15px;
    color: white;
}
